{% extends "buyer/base.html" %}

{% block title %}MPurchase Requests{% endblock title %}

{% block main %}
<form method="GET" id="my_form"></form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">Item Name</th>
            <th scope="col">Item ID</th>
            <th scope="col">Seller Name</th>
            <th scope="col">Seller ID</th>
            <th scope="col">Seller Mail</th>
            <th scope="col">Current Price</th>
        </tr>
    </thead>

    {% for order in orders %}
        <tbody>
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{order.item.name}}</td>
            <td>{{order.item.uid}}</td>
            <td>{{order.seller.name}}</td>
            <td>{{order.seller.uid}}</td>
            <td>{{order.seller.email}}</td>
            <td>{{order.offer_price}}</td>
            <td>
                <form action="/buyer/purchase_requests" method="POST">
                    <input type="text" name="uid" value="{{order.uid}}" hidden>
                    <input class="form-control mr-sm-2" type="number" placeholder="Offer Price" name = "offer" required>
                    <button type="submit" class="btn btn-primary btn-sm">Negotiate</button>
                </form>
            </td>
        </tr>
        </tbody>
    {% endfor %}
</table>
{% endblock main %}
